### 데이터 불러오기

In [73]:
import pandas as pd
import time
import os

In [74]:
train = pd.read_csv('./Data/train_df_errno_final.csv')
test = pd.read_csv('./Data/test_df_final.csv')
age = pd.read_csv('./Data/age_gender_info.csv')

In [75]:
age['10대 미만'] = age['10대미만(여자)'] + age['10대미만(여자)']
age['10대'] = age['10대(여자)'] + age['10대(남자)']
age['20대'] = age['20대(여자)'] + age['20대(남자)']
age['30대'] = age['30대(여자)'] + age['30대(남자)']
age['40대'] = age['40대(여자)'] + age['40대(남자)']
age['50대'] = age['50대(여자)'] + age['50대(남자)']
age['60대'] = age['60대(여자)'] + age['60대(남자)']
age['70대'] = age['70대(여자)'] + age['70대(남자)']
age['80대'] = age['80대(여자)'] + age['80대(남자)']
age['90대'] = age['90대(여자)'] + age['90대(남자)']
age['100대'] = age['10대(여자)'] + age['10대(남자)']

In [76]:
age.drop(['10대미만(여자)', '10대미만(남자)', '10대(여자)', '10대(남자)', '20대(여자)',
       '20대(남자)', '30대(여자)', '30대(남자)', '40대(여자)', '40대(남자)', '50대(여자)',
       '50대(남자)', '60대(여자)', '60대(남자)', '70대(여자)', '70대(남자)', '80대(여자)',
       '80대(남자)', '90대(여자)', '90대(남자)', '100대(여자)', '100대(남자)', '10대 미만'], axis=1, inplace=True)

In [77]:
age

,지역,10대,20대,30대,40대,50대,60대,70대,80대,90대,100대
0,경상북도,0.117706,0.127956,0.103005,0.156273,0.159295,0.146573,0.077889,0.040573,0.007131,0.117706
1,경상남도,0.108825,0.135538,0.113964,0.144691,0.159442,0.156763,0.081633,0.038655,0.005996,0.108825
2,대전광역시,0.083282,0.125081,0.135501,0.142592,0.154570,0.158728,0.088153,0.046205,0.008234,0.083282
3,경기도,0.106536,0.118378,0.141036,0.161562,0.142203,0.132656,0.075148,0.037490,0.007097,0.106536
4,전라북도,0.119765,0.136585,0.098623,0.143650,0.155790,0.144678,0.086773,0.047690,0.009121,0.119765
5,강원도,0.103999,0.123531,0.114142,0.144203,0.159443,0.158437,0.080493,0.046542,0.009305,0.103999
6,광주광역시,0.100105,0.131960,0.131304,0.159212,0.147345,0.135516,0.080306,0.040090,0.007239,0.100105
7,충청남도,0.121499,0.140597,0.132398,0.152278,0.148467,0.127970,0.070977,0.035413,0.006978,0.121499
8,부산광역시,0.068193,0.111030,0.095915,0.122722,0.151754,0.194591,0.132131,0.068136,0.010283,0.068193
9,제주특별자치도,0.123174,0.138801,0.098834,0.153078,0.157333,0.129965,0.080998,0.038167,0.007813,0.123174
10,울산광역시,0.110842,0.138928,0.105241,0.140767,0.152554,0.165510,0.092326,0.038452,0.005308,0.110842
11,충청북도,0.121378,0.125760,0.117694,0.154967,0.157023,0.137817,0.069380,0.038974,0.006696,0.121378
12,전라남도,0.122533,0.135855,0.111448,0.154082,0.157760,0.133817,0.073238,0.036652,0.007423,0.122533
13,대구광역시,0.071995,0.130810,0.133032,0.138067,0.165291,0.167645,0.092486,0.044442,0.006623,0.071995
14,서울특별시,0.051330,0.109495,0.099532,0.122889,0.141963,0.198579,0.158593,0.071316,0.014670,0.051330
15,세종특별자치시,0.103219,0.144116,0.210567,0.150086,0.123696,0.116443,0.052279,0.020979,0.004464,0.103219

### 제출용 파일생성(년-월-일-시-분-초)

In [ ]:
# 연월일 문자
day = time.strftime('%Y-%m-%d-%H-%M-%S', time.localtime())

PATH = './Output/'
file_name = f'{day}_modelname.csv'
sub_df.to_csv(f'{PATH}{file_name}', index=False)

if file_name in os.listdir(PATH) :
    print(f'{file_name} 저장 완료')
else : 
    print(f'{file_name} 저장 실패')